* {
    margin: 0%;
    padding: 0%;
}

/* style of box */
.container {
    width: 98%;
    display: flex;
    gap: 10px;
    background-color: #f1dede;
}
.box {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.topics {
    padding: 5px;
    width: 15%;
    max-height: 600px; /* Set a fixed height */
    overflow-y: auto; /* Add vertical scroll bar */
}
.content {
    width: 85%;
    max-height: 600px;
    overflow-y: auto;
}
.head {
    text-align: center;
    background-color: lightpink;
}
div {
    width: 96%;
    margin: 0 auto;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Text style */
h2 {
    font-size: 30px;
    background-color: aquamarine;
}
span {
    font-size: 22px;
    font-weight: bold;
    color: rgb(202, 16, 187);
}
p {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
}

/* List style */
ol li {
    margin: 20px;
}

/* Table style */
table,th, td{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
th {
    background-color: rgb(252, 203, 210);
}

/* code box style */
pre {
    background-color: #f1eabc;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
}
code {
    background-color: #f1eabc;
    padding: 2px 4px;
    border-radius: 4px;
    font: 1em sans-serif;
}

/* Button style */
button {
    background-color: #5bdb5f;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #20a126;
}

b {
    text-decoration: underline;
    color: rgb(241, 44, 44);
}

/* Link style */
#textLink {
    text-decoration: 0.5px underline;
}
.anchor {
    text-decoration: none;
    color: #0b1f0c;
    cursor: pointer;
}